**
!/.gitignore
!/BarWidget.qml
!/LICENSE
!/Panel.qml
!/README.md
!/Service.qml
!/manifest.json
!/preview.png
!/assets/
!/assets/deepseek.svg
!/bin/
!/bin/deepseek-offpeak
!/lib/
!/lib/Balance.js
!/lib/Schedule.js
!/lib/Status.js
!/tests/
!/tests/balance.test.js
!/tests/schedule.test.js
!/tests/status.test.js
!/.github/
!/.github/workflows/
!/.github/workflows/ci.yml
!/.github/workflows/release.yml
!/scripts/
!/scripts/ci/
!/scripts/ci/validate-manifest.js
!/scripts/ci/validate-qml.sh
